p Пример подключения partial.
.example-demo
  button.example-demo__btn.js-example-toggle(type="button") Показать / скрыть
  .example-demo__panel.js-example-panel(style="display: none;")
    p Пример jQuery: slideToggle по клику на кнопку.
