meta(charset="utf-8")
title= (typeof title !== 'undefined' && title) ? title : (siteName || 'Template')
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#ffffff")
meta(name="format-detection" content="telephone=no")
